@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">AccessMNS</a> *@
@*     </div> *@
@* </div> *@

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<nav class="flex-column navbar-mainmenu">
    <div class="nav-item">
        <MudBadge Color="Color.Success" Bordered="true" Class="navbar-badge"></MudBadge>
        <MudAvatar Size="Size.Large" Class="navbar-avatar">
            <MudImage Src="flashmemory.png" Alt="Avatar"></MudImage>
        </MudAvatar>
    </div>

    <div class="nav-item navlink-position" style="top: 7rem">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Accueil" Class="navbar-tooltip">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <MudIcon Class="navbar-icon" Icon="@Icons.Material.Filled.Home" Title="Accueil"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>

    <div class="nav-item navlink-position" style="top: 12rem">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Messages privés" Class="navbar-tooltip">
            <NavLink class="nav-link" href="counter">
                <MudIcon Class="navbar-icon" Icon="@Icons.Material.Outlined.Email" Title="Messages privés"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>

    <div class="nav-item navlink-position" style="top: 17rem">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Canaux de discussion" Class="navbar-tooltip">
            <NavLink class="nav-link" href="chatchannel/1&2">
                <MudIcon Class="navbar-icon" Icon="@Icons.Material.Filled.Chat" Title="Canaux de discussion"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>
    
    <div class="nav-item navlink-position" style="top: 40rem;">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Paramètres" Class="navbar-tooltip">
			<NavLink class="nav-link" href="weather">
                <MudIcon Class="navbar-icon" Icon="@Icons.Material.Filled.Settings" Title="Paramètre"></MudIcon>
			</NavLink>
        </MudTooltip>
    </div>
    
    @* À AJOUTER - Ajouter une page pour supprimer la "Variable" de Session et rediriger vers Login *@
    <div class="nav-item navlink-position" style="top: 45rem">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Déconnexion" Class="navbar-tooltip">
            <NavLink class="nav-link" href="logout">
                <MudIcon Class="navbar-icon" Icon="@Icons.Material.Filled.Logout" Title="Déconnexion"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>
</nav>

